__pycache__/
packed/asc_files/venv/
packed/asc_files/.idea/
build_logs
packed/@anarchy_client/addons/*.pbo
packed/@anarchy_server/addons/*.pbo
packed/asc_files/anarchy_main/loot_gen/loot_config.ini
@anarchy_client/addons/paradigm/
packed/asc_files/database/main/server0.asc
*.bak
packed/asc_files/database/main/server0BK.asc
