# ----------------------------
#  Server: sqf Example:
#  using Arma Subfolder:     "asc_extension" callExtension ["init_server",[]];
#  Custom path:              "asc_extension" callExtension ["init_server",["C:\Path\To\config.cfg"]];
# ----------------------------
#  Server: IP to the Backend (either local Server (127.0.0.1) or Internet IP (IPv4))
ip=127.0.0.1
#  Server: inbound port (remember to enable it in the firewall)
port=5555
#  Server: Full path to the python file
#  Server: example: C:\Arma-Server\ArmaServerCompanion\sock_server.py
#  Server: if Path is empty -> Remote Server will be used and ASC will NOT start up the Backend on its own!!
path=D:\#A3-Server\asc_files\sock_server.py
#  prefix to start the sock_server.py - Result: PREFIX PATH (e.g.: python C:\MY\PATH\TO\sock_server.py)
prefix=python
#  Path and Filename of your Database storage (don't forgot to add the trailing \ in the path)
databasePath=D:\#A3-Server\asc_files\database\main\
databaseName=server0.asc
#  Server: Key, to identify the Server at ASC-Start! ( a-z, A-Z, 0-9)
server_key=aBc123gHi456jKl789
#  Server: IP from where the A3-Server will connect from! (first connections will be whitelisted! No cons from anywhere else are allowed!)
server_ip=127.0.0.1
#  Seed (Integer) for Loot Pos creation - max: 999.999 - Anything above will the modulus operator (e.g: Seed: 1000000 -> Result: 1 (1.000.000 - 999.999))
#  If nothing is set in here, a random seedkey will be created on each Serverstart
lootseed=1234567